@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
    body {
        @apply bg-slate-900;
    }

    input[type="text"],
    input[type="number"] {
        @apply bg-slate-900;
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}